@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #f4f4f4;
  --color-primary: #f4749c;
  --color-secondary: #f4749c;
  --color-base-content: #000;
  --color-primary-content: #fff;
}

@plugin "daisyui/theme" {
  name: "dracula";
  default: false;

  --color-primary: #f4749c;
  --color-secondary: #f4749c;
  --color-primary-content: #232530;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}
